<!-- 201931541 임명우 -->
<% if(state==='detail' ) { %>
    <table class="table table-bordered">
        <tr>
            <td rowspan="5" width="600"><img src="<%=merchandise[0].image%>" style="width:600px;height:500px;"></td>
            <td width="400" height="125">
                <%=merchandise[0].name%>
            </td>
        </tr>
        <tr>
            <td width="400" height="125">
                <%=merchandise[0].price%>
            </td>
        </tr>
        <tr>
            <td width="400" height="125">
                <%=merchandise[0].brand%>
            </td>
        </tr>
        <tr>
            <form action="/purchase/create_process" method="post" style="display: inline;">
                <td width="400" height="125">
                    <input type="number" name="qty" step="1" min="1" max="<%=merchandise[0].stock%>">
                </td>
        </tr>
        <tr>
            <td width="400" height="125">
                <input type="hidden" name="mer_id" value="<%=merchandise[0].mer_id%>">
                <input type="hidden" name="price" value="<%=merchandise[0].price%>">
                <input type="hidden" name="cancel" value="N">
                <input type="hidden" name="payYN" value="Y">
                <input type="hidden" name="refund" value="N">
                <input type="hidden" name="state" value="purchase">
                <button type="submit" style="color: skyblue; background:white;" class="btn btn-info me-md-2">결제</button>
                </form>

                <form action="/purchase/cart/create_process" method="post" style="display: inline;">
                    <input type="hidden" name="mer_id" value="<%=merchandise[0].mer_id%>">
                    <button type="submit" style="color: skyblue; background:white;"
                        class="btn btn-info me-md-2">장바구니</button>
                </form>
            </td>
        </tr>
    </table>
    <% }else if(state==='create' ){ %>
        <div class="container">
            <h2>구매내역 생성</h2>
            <form action="/purchase/create_process" method="post">
                <div class="mb-3">
                    <label class="form-label" for="id">상품 선택</label><br>
                    <select name="mer_id" id="id">
                        <% var i=0; %>
                            <% while( i < merchandises.length) { %>
                                <option value="<%=merchandises[i].mer_id%>">
                                    <%=merchandises[i].name%>
                                </option>
                                <% i++; %>
                                    <% } %>
                    </select>
                </div>
                <div class="mb-3">
                    수량<br><input type="number" name="qty" step="1" min="1"><br>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id">포인트</label><br>
                    <input type="text" name="point">
                </div>
                <input type="hidden" name="cancel" value="N">
                <input type="hidden" name="payYN" value="Y">
                <input type="hidden" name="refund" value="N">
                <button class="btn btn-outline-primary btn-sm" type="submit">입력</button>
            </form>
        </div>
        <% }else{ %>
            <h2>구매내역 수정</h2>
            <form action="/purchase/update_process/<%=purchase[0].purchase_id%>" method="post" style="display: inline;">
            <table class="table table-bordered">
                <tr>
                    <td rowspan="6" width="600">
                            <img src="<%=purchase[0].image%>" style="width:600px;height:700px;"></td>
                    <td width="400" height="125">구매자ID : <%=purchase[0].loginid%>
                    </td>
                    <input type="hidden" name="loginid" value="<%=purchase[0].loginid%>">
                </tr>
                <tr>
                    <td width="400" height="125">
                        상품 변경 : <select name="mer_id" id="id">
                            <option value="<%=purchase[0].mer_id%>" selected>
                                <%=purchase[0].name%>
                            </option>
                            <% var i=0; %>
                                <% while( i < merchandises.length) { %>
                                    <option value="<%=merchandises[i].mer_id%>">
                                        <%=merchandises[i].name%>
                                    </option>
                                    <% i++; %>
                                        <% } %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="400" height="125">
                        포인트 : <input type="text" name="point" value="<%=purchase[0].point%>">
                    </td>
                </tr>
                    <td width="400" height="125">
                        취소여부 : <input type="text" name="cancel" value="<%=purchase[0].cancel%>">
                    </td>
                </tr>
                <tr>
                    <td width="400" height="125">
                        결제 여부 : <input type="text" name="payYN" value="<%=purchase[0].payYN%>">
                    </td>
                </tr>
                <tr>
                    <td width="400" height="125">
                        가격 : <%=purchase[0].price%><br>
                        수량 : <input type="number" name="qty" value="<%=purchase[0].qty%>" step="1" min="1" max="<%=purchase[0].stock%>"><br>
                        총 가격 : <%=purchase[0].total%>
                    </td>
                </tr>
            </table>
            <div style="text-align: right;"><button type="submit" style="color: skyblue; background:white;" class="btn btn-info me-md-2">수정</button></div>
            </form>
        <% } %>